<?xml version="1.0"?>
<robot xmlns:xacro = "http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find myrobort)/urdf/common_inertial.xacro"/>
    <xacro:macro name = "base_xacro" params = "length radius">
        <link name="base_footprint" />
            
        <link name="base_link">
            <visual>
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material> 
                <geometry>
                    <cylinder radius="${radius}" length = "${length}"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </visual>
            
            <collision>
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material> 
                <geometry>
                    <cylinder radius="${radius}" length = "${length}"/>
                </geometry>
                    <origin xyz="0 0 0" rpy="0 0 0"/>
            </collision>

            <xacro:cylinder_inertia m="1.0" r="${radius}" h="${length}"/>
        </link>
        
        <joint name="footprint_joint" type="fixed">
            <parent link="base_footprint"/>
            <child link="base_link"/>
            <origin xyz="0 0 0.101" rpy="0 0 0"/>
        </joint>
        
    </xacro:macro>
</robot>
